# Python files
__pycache__/
*.py[cod]

# Local folders
media/

# VSCode Files
.vscode

# Local Database
*.sqlite3

# Environmental Variables
.env

# Coverage test files
htmlcov/
.coverage
.coveragerc