{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block page_title %}Password Reset Page{% endblock %}

{% block styles %}
<style>
    body {
        background: url("{% static 'img/purple-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-border">
        <div class="card">

            <div class="row center-align">
                <div class="col s12">
                    <h1 id="h1-large" class="center-align font-baloo white-text card-border text-shadow">
                        Password Reset
                    </h1>
                </div>
            </div>

            <div class="row center-align">
                <div class="col s12">
                    <h3 class="purple-text text-darken-3">
                        Enter your email address below, and we'll email instructions for setting a new one.
                    </h3>
                </div>
            </div>

            <div class="row center-align">
                <div class="col s12 m8 offset-m2 l6 offset-l3">

                    <form method="POST">
                        {% csrf_token %}
                        {{ form|materializecss:'icon=fas fa-envelope purple-text text-darken-3' }}
                        <input type="submit" value="Send me instructions!" class="btn btn-large indigo accent-3">
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
