{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block page_title %}Email Instructions Sent{% endblock %}

{% block styles %}
<style>
    body {
        background: url("{% static 'img/purple-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-border">
        <div class="card">

            <div class="row center-align">
                <div class="col s12">
                    <h1 id="h1-large" class="center-align font-baloo white-text card-border text-shadow">
                        Email Sent
                    </h1>
                </div>
            </div>

            <div class="row center-align">
                <div class="col s12 purple-text text-darken-3">
                    <h2>Please check your Email</h2>
                    <h3>
                        We've emailed you instructions for setting your password.
                        <br>
                        You should receive the email shortly!
                    </h3>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
