{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block page_title %}Tickets{% endblock %}

{% block styles %}
<style>
    body {
        background: url("{% static 'img/purple-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="center-align font-baloo text-shadow white-text">Tickets</h1>
<form action="." method="GET" class="form">
    <div class="card pink lighten-5 center-align">
        <div class="row valign-wrapper">
            <div class="col s12 m3 offset-m1 input-field">
                <select name="tkt_status" id="tkt_status" class="browser-default border">
                    <option value="">Filter by Status</option>
                    {% for status in ticket_status_list %}
                    <option value="{{ status.id }}" {% if status.id|safe in tkt_status|safe %}selected{% endif %}>
                        {{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s12 m3 input-field">
                <select name="tkt_type" id="tkt_type" class="browser-default border">
                    <option value="">Filter by Type</option>
                    {% for type in ticket_type_list %}
                    <option value="{{ type.id }}" {% if type.id|safe in tkt_type|safe %}selected{% endif %}>{{ type }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s12 m2 input-field">
                <button type="submit" class="btn deep-purple darken-1">Search</button>
            </div>
            <div class="col s12 m2 input-field">
                <a class="btn deep-purple darken-1" href="{% url 'all_tickets' %}">Reset</a>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col s12 center-align">
        {% if user.is_authenticated %}
        <a href="{% url 'new_bug' %}" class="btn deep-purple darken-1">New Bug Report</a>
        <a href="{% url 'new_feature' %}" class="btn deep-purple darken-1">New Feature Request</a>
        {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to create
            a
            ticket!</p>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for ticket in tickets %}
    <a href="{% url 'ticket_detail' ticket.id %}">
        <div id="tickets" class="col s12 m6">
            <div class="card hoverable">
                <div class="card-content">
                    <p id="tkt-title" class="center-align site-purple-text truncate">
                        {% if ticket.ticket_type_id == 2 %}
                        <i class="fas fa-code-branch"></i>
                        {% else %}
                        <i class="fas fa-bug prefix"></i>
                        {% endif %}
                        {{ ticket.title }}
                    </p>
                    <div class="divider "></div>
                    <br>
                    <div class="row">
                        <p class="col s12 center-align large-text"><i class="fas fa-wrench site-purple-text"></i> {{ ticket.status }}</p>
                    </div>
                    <br>
                    <p class="truncate large-text"><i class="fas fa-comment-dots site-purple-text"></i> {{ ticket.description }}</p>
                </div>
                <div id="tkt-footer" class="card-action">
                    <div class="row">
                        <div class="col s6">
                            <p class="center-align white-text"><i class="fas fa-eye"></i> {{ ticket.views }}</p>
                        </div>
                        <div class="col s6">
                            <p class="center-align white-text"><i class="fas fa-thumbs-up"></i> {{ ticket.upvotes }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% include "partials/pagination.html" %}
{% endblock %}