{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block page_title %}Statistics{% endblock %}

{% block styles %}
<style>
    body {
        background: url("{% static 'img/purple-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">

        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <h1 id="h1-large" class="center-align font-baloo white-text card-border text-shadow">
                    Bug Stats
                </h1>
            </div>
        </div>

    <div class="row">
        <!-- bugs vs features -->
        <div class="col s12 l6">
            <div class="card-border">
                <div class="card">
                    <canvas id="bug_status" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- ticket status -->
        <div class="col s12 l6">
            <div class="card-border">
                <div class="card">
                    <canvas id="bug_updated" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <h1 id="h1-large" class="center-align font-baloo white-text card-border text-shadow">
                    Feature Stats
                </h1>
            </div>
        </div>

    <div class="row">
        <!-- bugs vs features -->
        <div class="col s12 l6">
            <div class="card-border">
                <div class="card">
                    <canvas id="feature_status" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- ticket status -->
        <div class="col s12 l6">
            <div class="card-border">
                <div class="card">
                    <canvas id="feature_updated" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block page_js %}
<script>
    var bug_todo_count = {{ bug_todo_count|safe }};
    var bug_in_progress_count = {{ bug_in_progress_count|safe }};
    var bug_completed_count = {{ bug_completed_count|safe }};

    new Chart(document.getElementById('bug_status'), {
        type: 'pie',
        data: {
            labels: ['To-Do', 'In Progress', 'Completed'],
            datasets: [{
                label: 'Ticket Status',
                data: [bug_todo_count, bug_in_progress_count, bug_completed_count],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.25)',
                    'rgba(54, 162, 235, 0.25)',
                    'rgba(255, 206, 86, 0.25)'
                ],
                hoverBackgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
                title: {
                    display: true,
                    text: 'Bug Status',
                    fontSize: 20,
                    fontStyle: "bold"
                },
                legend: {
                    display: true,
                    position: 'right'
                },
            },
    });

    var bug_daily_updated = {{ bug_daily_updated|safe }};
    var bug_weekly_updated = {{ bug_weekly_updated|safe }};
    var bug_monthly_updated = {{ bug_monthly_updated|safe }};

    new Chart(document.getElementById('bug_updated'), {
        type: 'bar',
        data: {
            labels: ['Daily', 'Weekly', 'Monthly'],
            datasets: [{
                data: [bug_daily_updated, bug_weekly_updated, bug_monthly_updated],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.25)',
                    'rgba(54, 162, 235, 0.25)',
                    'rgba(255, 206, 86, 0.25)'
                ],
                hoverBackgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Bug Update Frequency',
                fontSize: 20,
                fontStyle: "bold"
            },
            legend: {
                display: false
            },
        }
    });

    var feature_todo_count = {{ feature_todo_count|safe }};
    var feature_in_progress_count = {{ feature_in_progress_count|safe }};
    var feature_completed_count = {{ feature_completed_count|safe }};

    new Chart(document.getElementById('feature_status'), {
        type: 'pie',
        data: {
            labels: ['To-Do', 'In Progress', 'Completed'],
            datasets: [{
                label: 'Ticket Status',
                data: [feature_todo_count, feature_in_progress_count, feature_completed_count],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.25)',
                    'rgba(54, 162, 235, 0.25)',
                    'rgba(255, 206, 86, 0.25)'
                ],
                hoverBackgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
                title: {
                    display: true,
                    text: 'Feature Status',
                    fontSize: 20,
                    fontStyle: "bold"
                },
                legend: {
                    display: true,
                    position: 'right'
                },
            },
    });

    var feature_daily_updated = {{ feature_daily_updated|safe }};
    var feature_weekly_updated = {{ feature_weekly_updated|safe }};
    var feature_monthly_updated = {{ feature_monthly_updated|safe }};

    new Chart(document.getElementById('feature_updated'), {
        type: 'bar',
        data: {
            labels: ['Daily', 'Weekly', 'Monthly'],
            datasets: [{
                data: [feature_daily_updated, feature_weekly_updated, feature_monthly_updated],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.25)',
                    'rgba(54, 162, 235, 0.25)',
                    'rgba(255, 206, 86, 0.25)'
                ],
                hoverBackgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Feature Update Frequency',
                fontSize: 20,
                fontStyle: "bold"
            },
            legend: {
                display: false
            },
        }
    });

</script>

{% endblock %}