{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% block page_title %}Log In Page{% endblock %}

{% block styles %}
<style>
    body {
        background: url("{% static 'img/purple-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="card">
    <form method="post">
        {% csrf_token %}

        {{ login_form | materializecss }}
        <button type="submit" class="btn">Log In</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% endblock %}